<div>
  
  <h1>Brayan Cifuentes</h1>
    <img src="https://cdn.britannica.com/s:800x450,c:crop/40/189440-138-4637CAAC/video-Los-Angeles.jpg" width="1250px" height="500px">
</div>
   
<div>
        
      <form onsubmit="return false">
<div>
  
  <h1>Title</h1>
      
  
  <input id= 'blogTitle'>
</div>

<div>
  <h1>Content</h1>
     <input id= 'blogContent'>

    </div>

<button (click)='onPress()'>Click Me</button>
  </form>
  <h1 id='titleBlog'></h1>
  <div id='contentBlog'></div>
</div>
<router-outlet></router-outlet>